<section>
  <div class="page-header">
    <h1>Aps</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="ap in vm.aps"
       ui-sref="aps.view({ apId: ap._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="ap.created | date:'mediumDate'"></span>
        by
        <span ng-if="ap.user" ng-bind="ap.user.displayName"></span>
        <span ng-if="!ap.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="ap.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.aps.$resolved && !vm.aps.length">
    No Aps yet, why don't you <a ui-sref="aps.create">create one</a>?
  </div>
</section>
