<section>
  <div class="page-header">
    <h1>Pvs</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="pv in vm.pvs"
       ui-sref="pvs.view({ pvId: pv._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="pv.created | date:'mediumDate'"></span>
        by
        <span ng-if="pv.user" ng-bind="pv.user.displayName"></span>
        <span ng-if="!pv.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="pv.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.pvs.$resolved && !vm.pvs.length">
    No Pvs yet, why don't you <a ui-sref="pvs.create">create one</a>?
  </div>
</section>
