<section>
  <div class="page-header">
    <h1>Jvs</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="jv in vm.jvs"
       ui-sref="jvs.view({ jvId: jv._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="jv.created | date:'mediumDate'"></span>
        by
        <span ng-if="jv.user" ng-bind="jv.user.displayName"></span>
        <span ng-if="!jv.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="jv.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.jvs.$resolved && !vm.jvs.length">
    No Jvs yet, why don't you <a ui-sref="jvs.create">create one</a>?
  </div>
</section>
