<section>
  <div class="page-header">
    <h1>Expends</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="expend in vm.expends"
       ui-sref="expends.view({ expendId: expend._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="expend.created | date:'mediumDate'"></span>
        by
        <span ng-if="expend.user" ng-bind="expend.user.displayName"></span>
        <span ng-if="!expend.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="expend.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.expends.$resolved && !vm.expends.length">
    No Expends yet, why don't you <a ui-sref="expends.create">create one</a>?
  </div>
</section>
