<section>
  <div class="page-header">
    <h1>Ars</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="ar in vm.ars"
       ui-sref="ars.view({ arId: ar._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="ar.created | date:'mediumDate'"></span>
        by
        <span ng-if="ar.user" ng-bind="ar.user.displayName"></span>
        <span ng-if="!ar.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="ar.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.ars.$resolved && !vm.ars.length">
    No Ars yet, why don't you <a ui-sref="ars.create">create one</a>?
  </div>
</section>
